<html lang="en" ng-app="DCApp">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">

      google.load('visualization', '1', {packages: ['corechart', 'line']});
      google.setOnLoadCallback(drawBasic);

      function foo (elId, rows) {
        var data = new google.visualization.DataTable();
            data.addColumn('datetime', 'X');
            data.addColumn('number', 'Value');

            
            data.addRows(rows);

            var options = {
              hAxis: {
                title: 'Time'
              },
              vAxis: {
                title: 'value'
              }
            };

            var chart = new google.charts.Line(document.getElementById(elId));
            chart.draw(data, options);
      }

      function drawBasic() {
        var rows, elId;
        {% for (metric, group), measurements in data.items() %}
            rows = [
              {% for measurement in measurements %}
              [new Date("{{ measurement['time'] }}"), {{ measurement['mean'] if measurement['mean'] else "0" }} ],
              {% endfor %}
            ];
            elId = "{{metric}}__chart";
            foo(elId, rows);
        {% endfor %}
      }
    </script>

  </head>
  <body>
    {% for (metric, group), measurements in data.items() %}
    <md-card>
      <md-content>
        <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>{{metric}} </h2>
        </div>
        </md-toolbar>
        <div id="{{metric}}__chart"  class="md-card-image" style="width: 450px; height: 250px"></div>
      </md-content>
    </md-card>
    {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

    <script src="{{ url_for('static', filename='app.js') }}"></script>

  </body>
</html>